:root {
        --colorTextos: black;
    }

html{
    height: 100%;
}

 
body {
    background-image: url(../img/fondomdplogin.jpeg);
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    display:inline-block;
    align-items: center;
    width: 1420px;
    height: 100%;
}

h1{
        font-size: 20px;
        font-family:'Montserrat', sans-serif;
        margin: 7px;
    
    }

nav{
    color: white;
    background-color: #064c86;
    padding: 5px;
    margin: -2px;
    display: flex;

}    

.hola{
    top: 0;
    display: block;
    }
   

    
    form{
        padding: 5px 5px;
        margin: 150px 500px 250px;   
        border-radius: 10px;
        display: flex;
    }
    
    .form{
        width: 100%;
        margin: auto;
        opacity: 2;
        background-color: rgba(255, 255, 255, 0.402);
        
    }
    
    form .grupo{
        position: relative;
        margin: 45px ;
    }
    
    input{
        background: none;
        color: BLACK;
        font-size: 16px;
        font-weight: bold;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid var(--colorTextos);
    }
       
    
    input:focus{ 
        outline: none;
        color: rgb(36, 34, 34);
    }
    
    label{
        color: #064c86;
        font-size: 17px;
        position: absolute;
        top: -15px;
        font-weight: bold;

    }

    .alertas{
        width: 200px;
        text-align: center;
        margin: auto;
        color: black;
        font-size: 14px;
        font-weight: bold;

    }
    
    button{
        font-family: 'Montserrat', sans-serif;
        background:#064c86;
        border: none;
        display: block;
        width: 80%;
        margin: 10px auto;
        color: #fff;
        height: 40px;
        font-size: 16px;
        cursor: pointer;
    }
    
    @media screen and (max-width:500px){
        form{
            width: auto;
            display: flex;
        }
    }


    /* body {
        font-family: 'Montserrat', sans-serif;
        margin: 0;
    } */